h1{
    font-family:'Courier New', Courier, monospace;    
    text-transform:uppercase;
    text-decoration: underline;
  
  }
  body {
      background-image: url('website\ 2\ background.jpg');
      color:#000;
      font-family: "Open Sans", Arial, Helvetica, sans-serif;
      font-size: 17px;
      padding: 15px;
    }

    .main-content{
    display:inline-block;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:maroon;
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 25px;
    padding-right: 25px;
}    

    hr{
    width: 70%;
    border: 0.5px solid maroon;
    }

    .footer-text {
        font-size: 0.9rem;
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
      }
     
      .footer-link {
        color:darkred;
        text-decoration: none;
      }
    
      .footer-link:hover { color:rgb(34, 98, 100); }